# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Model checkpoints and cache
.transformers_cache/
model_cache/

# Dash
.dash_debugger 