<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="bash" arguments="startup.sh" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" startupTimeLimit="300">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="%WEBSITE_SITE_NAME%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 